<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/tweets">View All Tweets</a>
    <h1>Make a Tweet</h1>
    <form action="/tweets" method="post">
        <div>
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="tweet">Tweet</label>
            <br>
            <textarea name="tweet" id="tweet"></textarea>
        </div>
        <button type="submit">Tweet</button>
    </form>
</body>
</html>