<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/extra.css">
    <title>Home</title>
</head>

<body class="m-0 p-0 border-box bg-indigo-800 flex flex-col justify-center items-center min-h-screen min-w-screen">
    <nav class="flex justify-end items-stretch w-screen fixed top-0 p-4">
        <a href="/"
            class="font-bold text-xl uppercase hover:rounded-md hover:bg-white hover:bg-opacity-25 px-4 py-2 text-white nav-link">home</a>
        <a href="/about"
            class="font-bold text-xl uppercase hover:rounded-md hover:bg-white hover:bg-opacity-25 px-4 py-2 text-white nav-link">about</a>
        <a href="/contact"
            class="font-bold text-xl uppercase hover:rounded-md hover:bg-white hover:bg-opacity-25 px-4 py-2 text-white nav-link">contact</a>
    </nav>
    <main class="flex flex-col justify-center items-stretch w-1/2">
        <h1 class="font-bold text-5xl text-white mb-2">Hi, my name is <span class="text-6xl text-yellow-500">Gian
                Thiam,</span></h1>
        <p class="text-white mb-4 text-2xl">
            An aspiring <span class="text-yellow-500">web developer</span>.
        </p>
    </main>
</body>

</html>