<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
</head>
<body>
    <h1>Make a new Tweet</h1>
    <form action="/tweets" method="POST">
        <section>
            <label for="username">Enter your username</label>
            <br>
            <input type="text" placeholder="username" name="username" id="username">
        </section>
            <br>
        <section>
            <label for="tweet">Enter your tweet</label>
            <br>
            <textarea name="tweet" id="tweet" cols="30" rows="5"></textarea>
            <button type="submit">Submit</button>
        </section>
    </form>
    <br>
    <a href="/tweets">View Tweets</a>
</body>
</html>