<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.charAt(0).toUpperCase() + category.substring(1) %> Products</title>
</head>

<body>
    <h1><%= category.charAt(0).toUpperCase() + category.substring(1) %>  Products</h1>
    <a href="/products/new">Add Product</a>
    <% if (category !== "all") { %>
        <a href="/products">Show All Products</a>
    <% } %>
    <ul>
        <% for(let product of products) { %>
            <li>
                <a href="/products/<%= product.id %>"><%= product.name %></a>
            </li>
        <% } %>
    </ul>
</body>


</html>