<%- include("partials/head")  %> 

<body>
    <%- include("partials/navbar") %> 
    <%= "hatdog" .toUpperCase() %>
        <h1>Home Page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim dolores cumque molestiae est hic consequuntur,
            incidunt ducimus pariatur optio accusamus.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim dolores cumque molestiae est hic consequuntur,
            incidunt ducimus pariatur optio accusamus.</p>
</body>

</html>